# Ansible retry files
*.retry
# screen captures
hardcopy.*
# vi swap files
*.swp
*.swo
# Ansible roles cloned from git
ansible/roles-from-init/ansible-hardening
ansible/roles-from-init/ansible-role-docker-ce
ansible/roles-from-init/ansible-role-sudo
ansible/roles-from-init/ansible-role-kubernetes
ansible/roles-from-init/symplegma-containerd
