# Ansible retry files
*.retry
# screen captures
hardcopy.*
# vi swap files
*.swp
*.swo
# Ansible roles cloned from git
roles/ansible-hardening
roles/ansible-role-docker-ce
roles/ansible-role-sudo
roles/ansible-role-kubernetes
roles/symplegma-containerd
